.l-footer {
  position: relative;
  background-color: #fff;

  &__nav {
  }

  &__adr {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $gap-m 0;
    color: $white;
    background-color: $color-brand;
  }

  &__copyright {
    font-size: 1.2rem;
    font-style: normal;

    &-mark {
      position: relative;
      top: 3px;
      font-size: 2rem;
      line-height: 1;
    }
  }
}

.l-footer-nav {
  &__wrapper {
    @include wrapper;
    margin-bottom: $gap;
    list-style: none;
    @include tablet {
      margin-bottom: $gap-m;
    }
    @include desktop {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__item {
    padding: 0;
    @include desktop {
      display: flex;
      align-items: center;

      &::after {
        display: inline-block;
        width: 1px;
        height: 20px;
        margin: 0 $gap;
        content: " ";
        background-color: $color-light-darken;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }

  &__link {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 1.2rem;
    line-height: 1;
    color: $color-brand;
    text-decoration: none;
    background-color: $color-light;
    border-bottom: 1px solid white;
    @include desktop {
      height: auto;
      padding: $gap;
      background: none;
    }

    &:hover {
      color: $white;
      background-color: $color-brand;
    }

    &[target="_blank"] {
      &::after {
        @include material-icons;
        margin-left: $gap/2;
        font-size: 1.6rem;
        content: "open_in_new";
      }
    }
    @each $class in faq, policy {
      &.#{$class} {
        body.#{$class} & {
          color: $white;
          background-color: $color-brand;
        }
      }
    } //each
  }
}
