.l-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  height: $gap-xl;

  @include tablet {
    position: fixed;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    padding: $gap;
    @include tablet {
      padding: $gap-l;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: auto;
    font-size: 1.6rem;

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-size: 1.6rem;
      color: $color-dark;
      text-decoration: none;
    }
  }

  &__gnav {
    height: 100%;
  }

  &__slide-nav-menu {
  }
}
