.l-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  height: 58px;
  background-color: $color-secondary;
  border-bottom: 1px solid $color-light;

  // @include tablet {
  //   position: fixed;
  // }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 $gap-s;
    @include tablet {
      padding: $gap-l;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: auto;
    font-size: 1.6rem;

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 72px;
      height: 100%;
      height: 35px;
      font-size: 1.6rem;
      color: $color-dark;
      text-decoration: none;
    }
  }

  &__menu {
    position: relative;
    width: 48px;
    height: 48px;
  }
}
