.main-header {
  padding: $gap-m 0;
  background-color: $color-light;
  @include tablet {
    height: 130px;
    padding: 0 0;
  }

  &__wrapper {
    @include wrapper;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__title {
    margin: 0;
  }
}
