body.home {
  // p-visual
  .p-visual {
    height: 70vh;
    margin-bottom: $gap-m;
    @include tablet {
      margin-bottom: $gap-l;
    }
    @include desktop {
      height: 90vh;
      margin-bottom: $gap-xl;
    }

    img {
      @include object-fit;
    }
  }
}
