// font
@mixin gothic {
  font-family: "Noto Sans JP", sans-serif;
}

@mixin gothic-midashi {
  font-family: "Yusei Magic", sans-serif;
}

@mixin gothic-en {
  font-family: "Raleway", "Yusei Magic", sans-serif;
}

@mixin mincho() {
  font-family: "YakuHanMP", "Noto Serif JP", "Yu Mincho", "YuMincho", serif;
}

// breakpoint
@mixin mobile {
  @media screen and (max-width: $width-s) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $width-s + 1) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: $width-s + 1) and (max-width: $width-m) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $width-m + 1) {
    @content;
  }
}

// wrapper
@mixin wrapper {
  width: 100%;
  padding: 0 32px;
  margin-right: auto;
  margin-left: auto;
  @include tablet {
    padding: 0 $gap-l;
  }
  @include desktop {
    max-width: $width-xl + $gap-l * 2;
  }
}

// material-icons
@mixin material-icons {
  display: inline-block;
  font-family: "Material Icons";
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  font-feature-settings: "liga"; /* Support for IE. */
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

// first-child-heading
@mixin first-child-heading {
  & > h2,
  & > h3,
  & > h4,
  & > h5 {
    &:first-child {
      margin-top: 0;
    }
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// small font
@mixin small {
  font-size: 1.1rem;
  color: $color-dark-lighten;
}

// object-fit
@mixin object-fit {
  width: 100%;
  height: 100%;
  font-family: "object-fit: cover;"; // IE11
  object-fit: cover;
}

// img-max
@mixin img-max {
  width: 100%;
  max-width: 100%;
  height: auto;
}

// IE10+（Edgeも全て含む）ハック
@mixin ie {
  _:-ms-lang(x),
  :root & {
    @content;
  }
}
