@charset "UTF-8";
.wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;
}

@media screen and (min-width: 481px) {
  .wrapper {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1128px) {
  .wrapper {
    max-width: 1208px;
  }
}

html {
  overflow-x: hidden;
  background-color: #fff;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  color: #535364;
  font-size: 1.4rem;
}

@media screen and (min-width: 481px) {
  body {
    font-size: 1.6rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .3em;
  color: #000;
  font-weight: normal;
  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt';
}

h1 {
  font-size: 3rem;
}

@media screen and (min-width: 1128px) {
  h1 {
    font-size: 3.6rem;
  }
}

h2 {
  font-size: 2.6rem;
}

@media screen and (min-width: 1128px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 2rem;
}

@media screen and (min-width: 1128px) {
  h3 {
    font-size: 2.2rem;
  }
}

h4 {
  font-size: 1.8rem;
}

p {
  margin-bottom: .8em;
  line-height: 1.8;
}

a {
  color: #00529b;
  -webkit-tap-highlight-color: transparent;
  font-weight: bold;
}

::-moz-selection {
  background-color: #ffa843;
}

::selection {
  background-color: #ffa843;
}

small {
  color: #535364;
  font-size: 1.1rem;
  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt';
}

blockquote {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  border-left: 4px solid #c8c8c8;
  border-radius: 3px;
  background-color: #eee;
  margin: 0;
  padding: 24px;
}

blockquote::before {
  position: absolute;
  top: -12px;
  left: -14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #c8c8c8;
  width: 24px;
  height: 24px;
  font-size: 1.4rem;
}

blockquote > p:first-child {
  margin-top: 0;
}

dl,
ol,
ul {
  margin: 0;
  line-height: 1.8;
}

dl {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 4px solid #c8c8c8;
  padding: 8px 0 8px 24px;
}

dl > dt {
  font-weight: bold;
}

dl > dd {
  margin: 0;
}

ol,
ul {
  padding: .5em 1.5em;
}

hr {
  border: 0;
  height: 2px;
}

kbd,
code,
samp,
pre {
  display: inline-block;
  border-radius: 2px;
  background-color: #eee;
  margin: 0 4px;
  padding: 2px 8px;
  font-size: 1.4rem;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  line-height: 1.4;
}

code,
pre {
  background-color: #3c3c48;
  color: #c8c8c8;
}

pre {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  border-left: 4px solid #f58400;
  margin: 0;
  padding: 24px;
}

sup,
sub {
  font-size: 45%;
}

img {
  vertical-align: bottom;
}

figure {
  position: relative;
  display: inline-block;
  margin-bottom: .8em;
  padding: 0;
}

figure figcaption {
  position: absolute;
  right: 8px;
  bottom: 8px;
  color: #eee;
  font-weight: bold;
  font-size: 1.1rem;
}

iframe {
  border: none;
}

/*
サポート情報用のエリアを制作します。

```html
<aside class="box">
<p>サポート情報</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur cumque, inventore, voluptatem eaque quaerat voluptas sapiente itaque quae unde ea praesentium vel magni. Deserunt dolor, velit adipisci unde, recusandae reprehenderit.</p>
</aside>
```

*/
.box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ffa843;
  border-radius: 2px;
  background-color: #ffa843;
  padding: 8px;
  color: #fff;
}

@media screen and (min-width: 481px) {
  .box {
    padding: 24px;
  }
}

.box > p:last-child {
  margin-bottom: 0;
}

.u-column__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
}

@media screen and (min-width: 481px) {
  .u-column__wrapper {
    margin-right: -12px;
    margin-left: -12px;
  }
}

.u-column__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
  padding-right: 8px;
  padding-left: 8px;
}

@media screen and (min-width: 481px) {
  .u-column__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 64px;
    padding-right: 12px;
    padding-left: 12px;
  }
}

@media screen and (min-width: 1128px) {
  .u-column__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

.u-column__inner {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1128px) {
  .u-column2 .u-column__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 481px) {
  .u-column3 .u-column__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 1128px) {
  .u-column3 .u-column__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

@media screen and (min-width: 481px) {
  .u-column4 .u-column__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 1128px) {
  .u-column4 .u-column__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 481px) {
  .u-column5 .u-column__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

@media screen and (min-width: 1128px) {
  .u-column5 .u-column__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
}

.container {
  margin-bottom: 40px;
}

@media screen and (min-width: 481px) {
  .container {
    margin-bottom: 64px;
  }
}

.gnav {
  width: 100%;
  height: 100%;
  list-style: none;
}

.gnav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.gnav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.gnav__link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0 16px;
  text-decoration: none;
  font-size: 1.4rem;
}

.gnav__link:hover {
  background-color: #00529b;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

body.home .gnav__link.home {
  background-color: #00529b;
  color: #fff;
}

body.column .gnav__link.column {
  background-color: #00529b;
  color: #fff;
}

body.contact .gnav__link.contact {
  background-color: #00529b;
  color: #fff;
}

.gnav__link.contact {
  background-color: #f58400;
  color: #eee;
}

/*
見出し関連のサイズを調整します。

```html
<h2 class="heading-l">大きい見出し</h3>
<p>見出し説明テキスト<br>説明テキスト説明テキスト</p>
```
```html
<h3 class="heading-m heading">小見出し見出し</h3>
<p>見出し説明テキスト<br>説明テキスト説明テキスト</p>
```
```html
<h4 class="heading-s">小見出し見出し</h3>
<p>見出し説明テキスト<br>説明テキスト説明テキスト</p>
```
*/
.heading-l {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 4em 0 1em;
  color: #3c3c48;
  font-size: 2.4rem;
  line-height: 1.4;
}

@media screen and (min-width: 481px) {
  .heading-l {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1128px) {
  .heading-l {
    max-width: 1208px;
  }
}

@media screen and (min-width: 481px) {
  .heading-l {
    font-size: 3rem;
  }
}

.heading-l:first-child {
  margin-top: 0;
}

.heading-l + p {
  margin-top: -.5em;
}

.heading,
.heading-m {
  margin: 48px 0 24px;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 2rem;
  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt';
}

@media screen and (min-width: 481px) {
  .heading,
  .heading-m {
    margin: 48px 0 48px;
    font-size: 3rem;
  }
}

.heading + p,
.heading-m + p {
  margin-top: -24px;
  margin-bottom: 24px;
  text-align: center;
  color: #000;
  font-weight: bold;
}

@media screen and (min-width: 481px) {
  .heading + p,
  .heading-m + p {
    margin-top: -48px;
  }
}

.heading:first-child,
.heading-m:first-child {
  margin-top: 0;
}

.heading-s {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1em 0 .5em;
  color: #000;
  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt';
  line-height: 1.4;
}

.heading-s:first-child {
  margin-top: 0;
}

/*
画像に対する動作を指定します。
*/
img.u-img-max {
  max-width: 100%;
  width: 100%;
  height: auto;
}

img.u-img-fit {
  width: 100%;
  height: 100%;
  font-family: 'object-fit: cover;';
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 481px) {
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .tablet {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .tablet-only {
    display: none;
  }
}

@media screen and (min-width: 1128px) {
  .tablet-only {
    display: none;
  }
}

@media screen and (min-width: 1128px) {
  .desktop {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .desktop-only {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .desktop-only {
    display: none;
  }
}

.foot-nav {
  position: fixed;
  bottom: 0;
  z-index: 999;
  background-color: #f58400;
  -webkit-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.foot-nav__wrapper {
  background-color: #fff;
}

.foot-nav__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot-nav__tels {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.foot-nav__webs {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.foot-nav__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f58400;
  width: 100%;
  height: 40px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt';
}

@media screen and (min-width: 481px) {
  .foot-nav__button {
    height: 60px;
    font-size: 2rem;
  }
}

.foot-nav__button:hover {
  background-color: #fff;
  color: #f58400;
}

.foot-nav__tel {
  border-right: 1px solid #fff;
  background-image: url("../img/footer/foot-nav-tel-sp.png");
  background-position: top left;
  background-repeat: no-repeat;
}

.foot-nav__web {
  border-right: 1px solid #fff;
  background-image: url("../img/footer/foot-nav-web-sp.png");
  background-position: top left;
  background-repeat: no-repeat;
}

.footer {
  position: relative;
  background-color: #fff;
}

.footer__nav {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;
}

@media screen and (min-width: 481px) {
  .footer__nav {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1128px) {
  .footer__nav {
    max-width: 1208px;
  }
}

.footer__adr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00529b;
  padding: 24px;
  color: #fff;
}

.fnav {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 481px) {
  .fnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .fnav__item:not(:first-child) {
    margin-top: 8px;
  }
}

@media screen and (min-width: 481px) {
  .fnav__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    max-width: 33.333%;
    padding: 8px;
  }
}

.fnav__link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #00529b;
  height: 40px;
  text-decoration: none;
  color: #00529b;
  font-weight: bold;
  font-size: 1.4rem;
  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt';
}

.fnav__link i {
  position: absolute;
  right: 8px;
}

.fnav__link.home, .fnav__link:hover {
  background-color: #00529b;
  color: #fff;
}

.footadr__copyright {
  font-size: 1.4rem;
}

.footadr__mark {
  position: relative;
  top: 2px;
  font-size: 1.8rem;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  background: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  height: 40px;
}

@media screen and (min-width: 481px) {
  .header {
    height: 64px;
  }
}

.header__wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

@media screen and (min-width: 481px) {
  .header__wrapper {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1128px) {
  .header__wrapper {
    max-width: 1208px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-size: 1.6rem;
}

.header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-decoration: none;
  font-size: 1.6rem;
}

.header__gnav {
  height: 100%;
}

.layout__header {
  padding-top: 40px;
}

@media screen and (min-width: 481px) {
  .layout__header {
    padding-top: 64px;
  }
}

.breadcrumb {
  padding: 16px 0;
}

.breadcrumb__wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 481px) {
  .breadcrumb__wrapper {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1128px) {
  .breadcrumb__wrapper {
    max-width: 1208px;
  }
}

.breadcrumb__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4px;
}

.breadcrumb__item i {
  font-size: 1.4rem;
  line-height: 1;
}

.breadcrumb__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1;
}

.breadcrumb__link:hover {
  color: #007ae8;
}

.breadcrumb__link.is-home span {
  display: none;
}

.main-header {
  background-color: #eee;
  padding: 40px 0;
}

.main-header__wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 481px) {
  .main-header__wrapper {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1128px) {
  .main-header__wrapper {
    max-width: 1208px;
  }
}

.main-header h1 {
  margin-bottom: 0;
}

.page-top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #eee;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-decoration: none;
  color: #00529b;
}

.page-top:hover {
  background-color: #00529b;
  color: #fff;
}

body.home .visual {
  height: 500px;
}
