@charset "UTF-8";
.wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;
}

@media screen and (min-width: 481px) {
  .wrapper {
    padding: 0 40px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 1208px;
  }
}

html {
  background-color: #d28f97;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: #3c3c48;
  font-size: 1.4rem;
}

body _:-ms-lang(x),
:root body {
  font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (min-width: 481px) {
  body {
    font-size: 1.6rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: .3em;
  color: #000;
  font-weight: normal;
  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt';
  line-height: 1.4;
}

@media screen and (min-width: 481px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5em;
    margin-bottom: .5em;
  }
}

h1 {
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.6rem;
  }
}

h2 {
  font-size: 2.6rem;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 2.4rem;
  }
}

h4 {
  font-size: 1.8rem;
}

p {
  margin-bottom: .8em;
  line-height: 1.8;
}

a {
  color: #d28f97;
  -webkit-tap-highlight-color: transparent;
  font-weight: bold;
}

b,
strong {
  color: #30303a;
}

::-moz-selection {
  background-color: #ffe1a6;
}

::selection {
  background-color: #ffe1a6;
}

small {
  margin-left: 1em;
  color: #535364;
  font-size: 1.1rem;
  position: relative;
  display: block;
  margin-bottom: .5em;
}

small:before {
  position: absolute;
  left: -1em;
  content: '※';
}

blockquote {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  border-left: 4px solid #c8c8c8;
  border-radius: 3px;
  background-color: #eee;
  margin: 0;
  padding: 24px;
}

blockquote::before {
  position: absolute;
  top: -12px;
  left: -14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #c8c8c8;
  width: 24px;
  height: 24px;
  font-size: 1.4rem;
}

blockquote > p:first-child {
  margin-top: 0;
}

dl,
ol,
ul {
  margin: 0;
  line-height: 1.8;
}

dl {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 4px solid #c8c8c8;
  padding: 8px 0 8px 24px;
}

dl > dt {
  font-weight: bold;
}

dl > dd {
  margin: 0;
}

ol,
ul {
  padding: .5em 1.5em;
}

hr {
  border: 0;
  background-color: #eee;
  height: 1px;
  margin: 40px 0;
}

kbd,
code,
samp,
pre {
  display: inline-block;
  border-radius: 2px;
  background-color: #eee;
  margin: 0 4px;
  padding: 2px 8px;
  font-size: 1.4rem;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  line-height: 1.4;
}

code,
pre {
  background-color: #3c3c48;
  color: #c8c8c8;
}

pre {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  border-left: 4px solid #ffc759;
  margin: 0;
  padding: 24px;
}

sup,
sub {
  font-size: 45%;
}

img {
  vertical-align: bottom;
}

figure {
  position: relative;
  display: inline-block;
  margin-bottom: .8em;
  padding: 0;
}

figure figcaption {
  position: absolute;
  right: 8px;
  bottom: 8px;
  color: #eee;
  font-weight: bold;
  font-size: 1.1rem;
}

iframe {
  border: none;
}

address {
  font-style: normal;
}

.u-assist {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eee;
  margin-bottom: 8px;
  padding: 16px;
}

.u-assist h2:first-child,
.u-assist h3:first-child,
.u-assist h4:first-child,
.u-assist h5:first-child {
  margin-top: 0;
}

.u-assist p:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 481px) {
  .u-assist {
    margin-bottom: 16px;
    padding: 40px;
  }
}

.u-assist__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  padding: 24px;
}

.u-assist__inner h2:first-child,
.u-assist__inner h3:first-child,
.u-assist__inner h4:first-child,
.u-assist__inner h5:first-child {
  margin-top: 0;
}

.u-assist__inner p:last-child {
  margin-bottom: 0;
}

.u-assist__inner h1,
.u-assist__inner h2,
.u-assist__inner h3,
.u-assist__inner h4,
.u-assist__inner h5 {
  border-bottom: 1px solid #eee !important;
}

.u-assist.is-info {
  border-left: 2px solid #00529b;
  background-color: #bde5f8;
}

.u-assist.is-info h1,
.u-assist.is-info h2,
.u-assist.is-info h3,
.u-assist.is-info h4,
.u-assist.is-info h5 {
  border-bottom: 1px solid #00529b;
}

.u-assist.is-warning {
  border-left: 2px solid #9f6000;
  background-color: #feefb3;
}

.u-assist.is-warning h1,
.u-assist.is-warning h2,
.u-assist.is-warning h3,
.u-assist.is-warning h4,
.u-assist.is-warning h5 {
  border-bottom: 1px solid #9f6000;
}

.u-assist.is-point {
  background-color: #ffe1a6;
}

.u-assist.is-point h1,
.u-assist.is-point h2,
.u-assist.is-point h3,
.u-assist.is-point h4,
.u-assist.is-point h5 {
  border-bottom: 1px solid #ffc759;
}

.u-assist.is-outline {
  border: 1px solid #eee;
  background: none;
}

.u-assist.is-outline h1,
.u-assist.is-outline h2,
.u-assist.is-outline h3,
.u-assist.is-outline h4,
.u-assist.is-outline h5 {
  border-bottom: 1px solid #eee;
}

@media screen and (min-width: 481px) {
  .u-assist + small {
    margin-top: -16px;
  }
}

.u-assist h1,
.u-assist h2,
.u-assist h3,
.u-assist h4,
.u-assist h5 {
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: .3em;
}

.u-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #d28f97;
  background-color: #d28f97;
  padding: calc((48px - 1.2em) / 2) 8px;
  padding-left: 24px;
  text-decoration: none;
  color: white;
  line-height: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.u-button:before {
  display: inline-block;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  font-family: 'Material Icons';
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
  /* Support for IE. */
  letter-spacing: normal;
  line-height: 1;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: 0;
  content: 'arrow_right';
}

.u-button.is-active, .u-button:hover {
  background-color: white;
  color: #d28f97;
  cursor: pointer;
}

.u-button.is-down:before {
  content: 'arrow_drop_down';
}

.u-button.is-up:before {
  content: 'arrow_drop_up';
}

.u-button.is-pdf {
  padding-left: 30px;
}

.u-button.is-pdf:before {
  left: 8px;
  content: 'picture_as_pdf';
}

.u-button.is-point {
  border-color: #ffc759;
  background-color: #ffc759;
}

.u-button.is-point:hover {
  background-color: white;
  color: #ffc759;
}

.u-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: auto 8px auto;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 8px;
}

.u-buttons > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.u-buttons > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

@media screen and (min-width: 481px) {
  .u-buttons {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto 16px auto;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 16px;
  }
  .u-buttons > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .u-buttons > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}

@media screen and (min-width: 768px) {
  .u-buttons {
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[1];
    grid-template-rows: repeat(1, auto);
    grid-column-gap: 24px;
  }
  .u-buttons > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .u-buttons > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}

.u-buttons_2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: auto 8px auto;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 8px;
}

.u-buttons_2 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.u-buttons_2 > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

@media screen and (min-width: 481px) {
  .u-buttons_2 {
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[1];
    grid-template-rows: repeat(1, auto);
    grid-column-gap: 16px;
  }
  .u-buttons_2 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .u-buttons_2 > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}

@media screen and (min-width: 768px) {
  .u-buttons_2 {
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[1];
    grid-template-rows: repeat(1, auto);
    grid-column-gap: 24px;
  }
  .u-buttons_2 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .u-buttons_2 > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}

.u-buttons_3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: auto 8px auto 8px auto;
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 8px;
}

.u-buttons_3 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.u-buttons_3 > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.u-buttons_3 > *:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

@media screen and (min-width: 481px) {
  .u-buttons_3 {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto 16px auto 16px auto;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 16px;
  }
  .u-buttons_3 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .u-buttons_3 > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .u-buttons_3 > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}

@media screen and (min-width: 768px) {
  .u-buttons_3 {
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (auto)[1];
    grid-template-rows: repeat(1, auto);
    grid-column-gap: 24px;
  }
  .u-buttons_3 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .u-buttons_3 > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .u-buttons_3 > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
}

.u-buttons_4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: auto 8px auto 8px auto 8px auto;
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 8px;
}

.u-buttons_4 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.u-buttons_4 > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.u-buttons_4 > *:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.u-buttons_4 > *:nth-child(4) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

@media screen and (min-width: 481px) {
  .u-buttons_4 {
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto 16px auto;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
  .u-buttons_4 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .u-buttons_4 > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .u-buttons_4 > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .u-buttons_4 > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}

@media screen and (min-width: 768px) {
  .u-buttons_4 {
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto 24px auto;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
  .u-buttons_4 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .u-buttons_4 > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .u-buttons_4 > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .u-buttons_4 > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}

.u-column__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
}

@media screen and (min-width: 481px) {
  .u-column__wrapper {
    margin-right: -20px;
    margin-left: -20px;
  }
}

.u-column__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
  padding-right: 8px;
  padding-left: 8px;
}

@media screen and (min-width: 481px) {
  .u-column__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 64px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .u-column__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

.u-column__inner {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .u-column2 .u-column__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 481px) {
  .u-column3 .u-column__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .u-column3 .u-column__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

@media screen and (min-width: 481px) {
  .u-column4 .u-column__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .u-column4 .u-column__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 481px) {
  .u-column5 .u-column__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

@media screen and (min-width: 768px) {
  .u-column5 .u-column__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
}

.container {
  margin-bottom: 40px;
}

@media screen and (min-width: 481px) {
  .container {
    margin-bottom: 64px;
  }
}

.u-figure {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  border: 4px solid white;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.u-figure img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.u-figure figcaption {
  position: absolute;
  right: 8px;
  bottom: 8px;
  display: inline-block;
  text-shadow: 0 0 3px #000;
  color: #eee;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.2;
}

.u-figure figcaption.is-darken {
  text-shadow: 0 0 3px #fff;
  color: #3c3c48;
}

.u-figure figcaption.is-left {
  right: auto;
  left: 8px;
}

.u-figure figcaption.is-left_darken {
  text-shadow: 0 0 3px #fff;
  color: #3c3c48;
}

.u-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: auto 24px auto 24px auto;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 16px;
  grid-row-gap: 24px;
}

.u-grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.u-grid > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.u-grid > *:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

@media screen and (min-width: 481px) {
  .u-grid {
    -ms-grid-columns: 1fr 40px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto 40px auto;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
  .u-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .u-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .u-grid > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .u-grid > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}

@media screen and (min-width: 768px) {
  .u-grid {
    -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: repeat(1, auto);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
  .u-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .u-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .u-grid > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
}

/*
見出し関連のサイズを調整します。

```html
<h2 class="heading-l">大きい見出し</h3>
<p>見出し説明テキスト<br>説明テキスト説明テキスト</p>
```
```html
<h3 class="heading-m heading">小見出し見出し</h3>
<p>見出し説明テキスト<br>説明テキスト説明テキスト</p>
```
```html
<h4 class="heading-s">小見出し見出し</h3>
<p>見出し説明テキスト<br>説明テキスト説明テキスト</p>
```
*/
.heading-l {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 4em 0 1em;
  color: #3c3c48;
  font-size: 2.4rem;
  line-height: 1.4;
}

@media screen and (min-width: 481px) {
  .heading-l {
    padding: 0 40px;
  }
}

@media screen and (min-width: 768px) {
  .heading-l {
    max-width: 1208px;
  }
}

@media screen and (min-width: 481px) {
  .heading-l {
    font-size: 3rem;
  }
}

.heading-l:first-child {
  margin-top: 0;
}

.heading-l + p {
  margin-top: -.5em;
}

.heading,
.heading-m {
  margin: 48px 0 24px;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 2rem;
  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt';
}

@media screen and (min-width: 481px) {
  .heading,
  .heading-m {
    margin: 48px 0 48px;
    font-size: 3rem;
  }
}

.heading + p,
.heading-m + p {
  margin-top: -24px;
  margin-bottom: 24px;
  text-align: center;
  color: #000;
  font-weight: bold;
}

@media screen and (min-width: 481px) {
  .heading + p,
  .heading-m + p {
    margin-top: -48px;
  }
}

.heading:first-child,
.heading-m:first-child {
  margin-top: 0;
}

.heading-s {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1em 0 .5em;
  color: #000;
  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt';
  line-height: 1.4;
}

.heading-s:first-child {
  margin-top: 0;
}

/*
画像に対する動作を指定します。
*/
img.u-img-max {
  max-width: 100%;
  width: 100%;
  height: auto;
}

img.u-img-fit {
  width: 100%;
  height: 100%;
  font-family: 'object-fit: cover;';
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 481px) {
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .tablet {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .tablet-only {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .tablet-only {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .desktop {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .desktop-only {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .desktop-only {
    display: none;
  }
}

.u-small {
  margin-left: 1em;
  color: #535364;
  font-size: 1.1rem;
}

.u-small.is-light {
  color: white;
}

/*
---
name: table
category:
- ui/table
tag:
- base
compile: false
---

テーブル

```html
<table class="u-table has-data-label">
  <caption>テーブルサンプル</caption>
  <colgroup>
    <col span="1" style="width:30%;">
    <col span="3" style="width:20%;">
    <col span="1" style="width:10%;">
  </colgroup>
  <thead>
    <tr>
      <th>{{ key }}</th>
      <th>{{ key }}</th>
      <th>{{ key }}</th>
      <th>{{ key }}</th>
      <th>{{ key }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="key">長いvalueです。ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</td>
      <td data-label="長いkeyです。ダミーダミーダミーダミー。">{{ value }}</td>
      <td data-label="key">{{ value }}</td>
      <td data-label="key">{{ value }}</td>
      <td data-label="key">{{ value }}</td>
    </tr>
    <tr>
      <td data-label="key">{{ value }}</td>
      <td data-label="key">{{ value }}</td>
      <td data-label="key">{{ value }}</td>
      <td data-label="key">{{ value }}</td>
      <td data-label="key">{{ value }}</td>
    </tr>
    <tr>
      <td data-label="key">{{ value }}</td>
      <td data-label="key">{{ value }}</td>
      <td data-label="key">{{ value }}</td>
      <td data-label="key">{{ value }}</td>
      <td data-label="key">{{ value }}</td>
    </tr>
  </tbody>
</table>
```
*/
.u-table {
  border-collapse: collapse;
  width: 100%;
  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt';
}

@media screen and (max-width: 480px) {
  .u-table thead,
  .u-table tfoot {
    display: none;
  }
  .u-table tr,
  .u-table td,
  .u-table th {
    display: block;
  }
  .u-table tr {
    border-top: 1px solid #eee;
    margin-bottom: 24px;
  }
  .u-table th {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #c8c8c8;
    padding: 8px;
    color: #3c3c48;
    font-weight: bold;
    line-height: 1;
  }
  .u-table td {
    border: 1px solid #c8c8c8;
    margin-top: -1px;
    padding: 8px;
  }
}

@media screen and (min-width: 481px) {
  .u-table tr,
  .u-table td,
  .u-table th {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #c8c8c8;
    padding: 24px;
    vertical-align: middle;
    text-align: left;
    line-height: 1.4;
  }
  .u-table thead tr {
    background-color: #d28f97;
    color: white;
  }
  .u-table tbody tr:nth-child(2n + 2) {
    background-color: #eee;
  }
}

@media screen and (max-width: 480px) {
  .u-table.has-data-label td {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 24px;
  }
  .u-table.has-data-label td::before {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
    max-width: 80px;
    margin-right: 24px;
    content: attr(data-label);
    font-weight: bold;
    font-size: 1.4rem;
  }
}

.u-table caption {
  margin-bottom: 8px;
  text-align: left;
  font-weight: bold;
}

.u-tag {
  position: relative;
  top: -1px;
  display: inline-block;
  border-radius: 4px;
  background-color: #d28f97;
  margin-right: 8px;
  padding: 4px;
  color: white;
  font-size: 80%;
  line-height: 1;
}

.footer {
  position: relative;
  background-color: #fff;
}

.footer__adr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d28f97;
  padding: 24px 0;
  color: #fff;
}

.footer__copyright {
  font-style: normal;
  font-size: 1.2rem;
}

.footer__copyright-mark {
  position: relative;
  top: 3px;
  font-size: 2rem;
  line-height: 1;
}

.fnav__wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;
  margin-bottom: 8px;
  list-style: none;
}

@media screen and (min-width: 481px) {
  .fnav__wrapper {
    padding: 0 40px;
  }
}

@media screen and (min-width: 768px) {
  .fnav__wrapper {
    max-width: 1208px;
  }
}

@media screen and (min-width: 481px) {
  .fnav__wrapper {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .fnav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.fnav__item {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .fnav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fnav__item::after {
    display: inline-block;
    background-color: #c8c8c8;
    width: 1px;
    height: 20px;
    margin: 0 8px;
    content: ' ';
  }
  .fnav__item:last-child::after {
    display: none;
  }
}

.fnav__link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid white;
  background-color: #eee;
  height: 40px;
  text-decoration: none;
  color: #d28f97;
  font-size: 1.2rem;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .fnav__link {
    background: none;
    height: auto;
    padding: 8px;
  }
}

.fnav__link:hover {
  background-color: #d28f97;
  color: #fff;
}

.fnav__link[target='_blank']:after {
  display: inline-block;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  font-family: 'Material Icons';
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
  /* Support for IE. */
  letter-spacing: normal;
  line-height: 1;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  margin-left: 4px;
  content: 'open_in_new';
  font-size: 1.6rem;
}

body.faq .fnav__link.faq {
  background-color: #d28f97;
  color: #fff;
}

body.policy .fnav__link.policy {
  background-color: #d28f97;
  color: #fff;
}

.gnav-slide {
  visibility: hidden;
}

.gnav-slide.is-active {
  visibility: visible;
}

.gnav-slide__background {
  position: fixed;
  top: 64px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.gnav-slide__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 64px;
  right: 0;
  bottom: 0;
  z-index: 11;
  overflow-y: auto;
  background-color: #d28f97;
  width: 280px;
}

.gnav-slide__inner {
  width: 100%;
  margin: 0;
  padding: 8px;
  list-style: none;
}

.gnav-slide__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-color: #eee;
  height: 48px;
  margin-top: -1px;
}

.gnav-slide__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.gnav-slide__link::before {
  display: inline-block;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  font-family: 'Material Icons';
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
  /* Support for IE. */
  letter-spacing: normal;
  line-height: 1;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  content: 'arrow_right';
}

.gnav-slide__link:hover {
  background-color: #d28f97;
  color: white;
}

.gnav-slide__link.ig {
  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt';
}

.gnav-slide__link.acceptance::before {
  margin-right: 4px;
  margin-left: 4px;
  content: 'headset_mic';
}

body.acceptance .gnav-slide__link.acceptance, .gnav-slide__link.acceptance:hover {
  background-color: #d28f97;
  color: white;
}

body.acceptance .gnav-slide__link.acceptance::before, .gnav-slide__link.acceptance:hover::before {
  color: white;
}

.gnav-slide__link.contact {
  color: #ffc759;
}

.gnav-slide__link.contact::before {
  margin-right: 4px;
  margin-left: 4px;
  content: 'mail';
}

body.contact .gnav-slide__link.contact, .gnav-slide__link.contact:hover {
  background-color: #ffc759;
  color: white;
}

body.contact .gnav-slide__link.contact::before, .gnav-slide__link.contact:hover::before {
  color: white;
}

body.home .gnav-slide__link.home {
  background-color: #d28f97;
  color: white;
}

body.home .gnav-slide__link.home::before {
  color: #ffc759;
}

body.column .gnav-slide__link.column {
  background-color: #d28f97;
  color: white;
}

body.column .gnav-slide__link.column::before {
  color: #ffc759;
}

body.element .gnav-slide__link.element {
  background-color: #d28f97;
  color: white;
}

body.element .gnav-slide__link.element::before {
  color: #ffc759;
}

body.ui .gnav-slide__link.ui {
  background-color: #d28f97;
  color: white;
}

body.ui .gnav-slide__link.ui::before {
  color: #ffc759;
}

.gnav-slide-sub {
  margin: 0;
  padding: 0 8px;
}

.gnav-slide-sub__item {
  height: 24px;
}

.gnav-slide-sub__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  line-height: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.gnav-slide-sub__link::before {
  display: inline-block;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  font-family: 'Material Icons';
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
  /* Support for IE. */
  letter-spacing: normal;
  line-height: 1;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  content: 'arrow_right';
}

.gnav-slide-sub__link:hover {
  color: #e8c6ca;
}

.gnav-slide-sub__link[target='_blank']::after {
  display: inline-block;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  font-family: 'Material Icons';
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
  /* Support for IE. */
  letter-spacing: normal;
  line-height: 1;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  margin-left: 4px;
  content: 'open_in_new';
  font-size: 1.6rem;
}

body.faq .gnav-slide-sub__link.faq {
  color: #ffc759;
}

body.faq .gnav-slide-sub__link.faq::before {
  color: #ffc759;
}

body.policy .gnav-slide-sub__link.policy {
  color: #ffc759;
}

body.policy .gnav-slide-sub__link.policy::before {
  color: #ffc759;
}

.gnav-slide-bagckground-enter-active,
.gnav-slide-bagckground-leave-active {
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.gnav-slide-bagckground-enter,
.gnav-slide-bagckground-leave-to {
  opacity: 0;
  -webkit-transition: all 150ms ease-in 0s;
  transition: all 150ms ease-in 0s;
}

.gnav-slide-wrapper-enter-active,
.gnav-slide-wrapper-leave-active {
  opacity: 1;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.gnav-slide-wrapper-enter,
.gnav-slide-wrapper-leave-to {
  -webkit-transition: all 150ms ease-in 0s;
  transition: all 150ms ease-in 0s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.gnav {
  display: none;
  width: 100%;
  height: 100%;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .gnav {
    display: block;
  }
}

.gnav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.gnav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.gnav__link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0 16px;
  text-decoration: none;
  color: #3c3c48;
  font-size: 1.4rem;
}

.gnav__link:hover {
  background-color: #d28f97;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

body.home .gnav__link.home {
  background-color: #d28f97;
  color: #fff;
}

body.column .gnav__link.column {
  background-color: #d28f97;
  color: #fff;
}

body.ui .gnav__link.ui {
  background-color: #d28f97;
  color: #fff;
}

body.contact .gnav__link.contact {
  background-color: #d28f97;
  color: #fff;
}

body.element .gnav__link.element {
  background-color: #d28f97;
  color: #fff;
}

.gnav__link.contact {
  background-color: #ffc759;
  color: #eee;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  background: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  height: 64px;
}

@media screen and (min-width: 481px) {
  .header {
    position: fixed;
  }
}

.header__wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media screen and (min-width: 481px) {
  .header__wrapper {
    padding: 0 40px;
  }
}

@media screen and (min-width: 768px) {
  .header__wrapper {
    max-width: 1208px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin-right: auto;
  font-size: 1.6rem;
}

.header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-decoration: none;
  color: #3c3c48;
  font-size: 1.6rem;
}

.header__gnav {
  height: 100%;
}

.header__menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  color: #3c3c48;
  cursor: pointer;
}

.header__menu:hover {
  color: #d28f97;
}

.header__menu__icon {
  position: relative;
  top: 0;
  font-size: 34px;
  line-height: 1;
}

.header__menu__text {
  position: relative;
  top: -7px;
  font-size: 10px;
  line-height: 1;
}

.layout {
  background-color: white;
}

.layout__header {
  padding-top: 64px;
}

.breadcrumb {
  padding: 16px 0;
}

.breadcrumb__wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 481px) {
  .breadcrumb__wrapper {
    padding: 0 40px;
  }
}

@media screen and (min-width: 768px) {
  .breadcrumb__wrapper {
    max-width: 1208px;
  }
}

.breadcrumb__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4px;
}

.breadcrumb__item i {
  font-size: 1.4rem;
  line-height: 1;
}

.breadcrumb__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1;
}

.breadcrumb__link:hover {
  color: #e8c6ca;
}

.breadcrumb__link.is-home span {
  display: none;
}

.main-header {
  background-color: #eee;
  padding: 24px 0;
}

@media screen and (min-width: 481px) {
  .main-header {
    height: 130px;
    padding: 0 0;
  }
}

.main-header__wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

@media screen and (min-width: 481px) {
  .main-header__wrapper {
    padding: 0 40px;
  }
}

@media screen and (min-width: 768px) {
  .main-header__wrapper {
    max-width: 1208px;
  }
}

.main-header__title {
  margin: 0;
}

.main__visual {
  height: 500px;
  margin-bottom: 24px;
}

@media screen and (min-width: 481px) {
  .main__visual {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .main__visual {
    margin-bottom: 64px;
  }
}

.main__section {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;
  margin-bottom: 24px;
}

@media screen and (min-width: 481px) {
  .main__section {
    padding: 0 40px;
  }
}

@media screen and (min-width: 768px) {
  .main__section {
    max-width: 1208px;
  }
}

.main__section h2:first-child,
.main__section h3:first-child,
.main__section h4:first-child,
.main__section h5:first-child {
  margin-top: 0;
}

.main__section p:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 481px) {
  .main__section {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .main__section {
    margin-bottom: 64px;
  }
}

.page-top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #eee;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-decoration: none;
  color: #d28f97;
}

.page-top:hover {
  background-color: #d28f97;
  color: #fff;
}
