.u-mobile {
  @include tablet() {
    display: none;
  }
}

.u-tablet {
  @include mobile {
    display: none;
  }
}

.u-tablet-only {
  @include mobile {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.u-desktop {
  @include desktop() {
    display: none;
  }
}

.u-desktop-only {
  @include mobile() {
    display: none;
  }
  @include tablet-only() {
    display: none;
  }
}
