.u-tag {
  position: relative;
  top: -1px;
  display: inline-block;
  padding: math.div($gap, 2);
  margin-right: $gap;
  font-size: 80%;
  line-height: 1;
  color: white;
  background-color: $color-brand;
  border-radius: 4px;
}
