html {
  font-size: 62.5%; //remベースサイズ設定 1.6rem = 16px
  background-color: white;
}

body {
  @include gothic;
  font-size: 1.4rem; // 1.4rem = 14px
  color: $color-dark;

  @include tablet {
    font-size: 1.6rem; // 1.6rem = 16px
  }
}

// section {}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.3em;
  font-weight: normal;
  line-height: 1.4;
  color: $black;
  font-feature-settings: "palt";

  @include tablet {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }
}

h1 {
  font-size: 3rem;
  @include desktop {
    font-size: 3.6rem;
  }
}

h2 {
  font-size: 2.6rem;
  @include desktop {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 2rem;
  @include desktop {
    font-size: 2.4rem;
  }
}

h4 {
  font-size: 1.8rem;
  font-weight: bold;
  @include desktop {
    font-size: 2rem;
  }
}

h5 {
  font-size: 1.6rem;
  font-weight: bold;
}

h6 {
  font-size: 1.6rem;
}

p {
  margin-bottom: 0.8em;
  line-height: 1.6;
}

a {
  color: $color-brand;
  -webkit-tap-highlight-color: transparent; //タップ時のハイライト削除
  &:hover {
    text-decoration: none;
  }
}

b,
strong,
em {
  color: black;
}

::selection {
  background-color: $color-brand-lighten;
}

small {
  position: relative;
  display: block;
  @include small;

  &::before {
    position: absolute;
    left: -1em;
    content: "※";
  }
}

blockquote {
  position: relative;
  box-sizing: border-box;
  padding: $gap-m;
  margin: 0;
  background-color: $color-light;
  border-left: 4px solid $color-light-darken;
  border-radius: 3px;

  &::before {
    position: absolute;
    top: -12px;
    left: -14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 1.4rem;
    background-color: $color-light-darken;
    border-radius: 50%;
  }

  & > p:first-child {
    margin-top: 0;
  }
}

dl,
ol,
ul {
  margin: 0;
  line-height: 1.8;
}

dl {
  box-sizing: border-box;
  padding: $gap 0 $gap $gap-m;
  border-left: 4px solid $color-light-darken;

  & > dt {
    font-weight: bold;
  }

  & > dd {
    margin: 0;
  }
}

ol,
ul {
  padding: 0.5em 1.5em;
}

hr {
  height: 1px;
  margin: $gap-l 0;
  background-color: $color-light;
  border: 0;
}

kbd,
code,
samp,
pre,
q,
cite,
time,
abbr {
  display: inline-block;
  padding: $gap/4 $gap;
  margin: 0 $gap/2;
  font-size: 1.4rem;
  line-height: 1.4;
  background-color: $color-light;
  border-radius: 2px;
  font-feature-settings: normal;
  @include tablet {
    font-size: 1.6rem;
  }
}

code,
pre {
  color: $color-light-darken;
  background-color: $color-dark;
}

pre {
  box-sizing: border-box;
  display: block;
  padding: $gap-m;
  margin: 0;
  overflow: auto;
  border-left: 4px solid $color-point;
}

sup,
sub {
  font-size: 45%;
}

img {
  @include img-max;
  vertical-align: bottom;
}

figure {
  position: relative;
  display: inline-block;
  padding: 0;
  margin-bottom: 0.8em;

  figcaption {
    position: absolute;
    right: $gap;
    bottom: $gap;
    font-size: 1.1rem;
    font-weight: bold;
    color: $color-light;
  }
}

iframe {
  border: none;
}

address {
  font-style: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-feature-settings: "palt";

  @include mobile {
    thead,
    tfoot {
      display: none;
    }

    tbody {
      th {
        box-sizing: border-box;
        display: block;
        padding: $gap;
        font-weight: bold;
        line-height: 1;
        color: $color-dark;
        background-color: $color-light-darken;
      }

      tr {
        display: block;
        margin-bottom: $gap-m;
        border-top: 1px solid $color-light;

        &:last-child {
          margin-bottom: 0;
        }
      }

      td {
        display: block;
        padding: $gap;
        margin-top: -1px;
        border: 1px solid $color-light-darken;
      }
    }
  }

  @include tablet {
    tr,
    td,
    th {
      box-sizing: border-box;
      padding: $gap;
      line-height: 1.4;
      text-align: left;
      vertical-align: middle;
      border: 1px solid $color-light-darken;
    }

    thead {
      tr {
        color: white;
        background-color: $color-brand;
      }
    }

    tfoot {
      tr {
        color: white;
        background-color: $color-point;
      }
    }

    tbody {
      tr {
        &:nth-child(2n + 2) {
          background-color: $color-light;
        }
      }
      // th {}
      // td {}
    }
  }

  &.has-label {
    @include mobile {
      tbody td {
        display: flex;
        align-items: flex-start;
        padding: $gap-m;

        &::before {
          $flex-w: 80px;

          flex: 0 0 $flex-w;
          max-width: $flex-w;
          margin-right: $gap-m;
          font-size: 1.4rem;
          font-weight: bold;
          content: attr(data-label);
        }
      }
    }
  }

  caption {
    margin-bottom: $gap;
    font-weight: bold;
    text-align: left;
  }
}

// Form elements
form {
  fieldset {
    box-sizing: border-box;
    display: block;
    padding: $gap-m;
    margin: $gap-l 0;
    overflow: auto;
    border: 1px solid $color-light;
    border-radius: 3px;

    legend {
      padding: 0 $gap;
      margin-left: -$gap;
      font-weight: bold;
      background-color: #fff;
      font-feature-settings: "palt";
    }
  }

  input {
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    padding: $gap;
    font-size: 1.6rem;
    background-color: white;
    border: 1px solid $color-light-darken;
    border-radius: 2px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);

    &::placeholder {
      line-height: normal;
      color: $color-light-darken;
    }

    &:focus {
      border-color: $color-info;
      outline: 0;
    }

    &[type="radio"],
    &[type="checkbox"] {
      display: inline-block;
      width: auto;
      padding: 0;
      margin-right: $gap/2;
    }

    // &[type='text'] {}
    // &[type='password'] {}
    // &[type='url'] {}
    // &[type='email'] {}
    // &[type='tel'] {}
    // &[type='search'] {}
    // &[type='number'] {}

    // buttons
    // &[type='submit'] {}
    // &[type='button'] {}
    // &[type='reset'] {}
    // &[type='submit'] {}
  }

  button {
    padding: $gap;
    font-size: 1.6rem;
    border: 1px solid $color-light;
    border-radius: 2px;
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
    // &[type='submit'] {}
    // &[type='button'] {}
    // &[type='reset'] {}
    // &[type='submit'] {}
  }

  textarea {
    width: 100%;
    padding: $gap;
    font-size: 1.6rem;
    background-color: white;
    border: 1px solid $color-light-darken;
    border-radius: 2px;
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);

    &:focus {
      border: solid 1px $color-point;
    }
  }

  select {
    max-width: 100%;
    height: 2.6em;
    padding: $gap;
    font-size: 1.6rem;
    color: $color-brand;
    vertical-align: middle;
    background: none transparent;
    border: 1px solid $color-light-darken;
    border-radius: 2px;
    outline: none;
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
    appearance: button; // Dealt down arrow

    &:focus {
      border: solid 1px $color-point;
    }

    // &::after {}
    // optgroup {}

    option {
      color: #333;
      background-color: #fff;
    }
  }
}

.require-icon {
  position: relative;
  top: -1px;
  display: inline-block;
  padding: $gap/2;
  margin-right: $gap;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
  color: white;
  background-color: $color-error;
  border-radius: 2px;
}

.optional-icon {
  position: relative;
  top: -1px;
  display: inline-block;
  padding: $gap/2;
  margin-right: $gap;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
  color: white;
  background-color: $color-dark-lighten;
  border-radius: 2px;
}
