.foot-nav {
  position: fixed;
  bottom: 0;
  z-index: 999;
  background-color: $color-point;
  box-shadow: 0 -2px 4px rgba(0,0,0,.25);
  width: 100%;
  &__wrapper {
    background-color: #fff;
  }
  &__buttons {
    display: flex;
  }
  &__tels {
    $flex-w: 50%;
    flex: 0 0 $flex-w;
    max-width: $flex-w;
  }
  &__webs {
    $flex-w: 50%;
    flex: 0 0 $flex-w;
    max-width: $flex-w;
  }
  &__button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-point;
    width: 100%;
    height: 40px;
    text-decoration: none;
    color: $white;
    font-weight: bold;
    font-size: 1.6rem;
    font-feature-settings: 'palt';
    @include tablet {
      height: 60px;
      font-size: 2rem;
    }
    &:hover {
      background-color: $white;
      color: $color-point;
    }
  }
  &__tel {
    border-right: 1px solid $white;
    background-image: url('../img/footer/foot-nav-tel-sp.png');
    background-position: top left;
    background-repeat: no-repeat;
  }
  &__web {
    border-right: 1px solid $white;
    background-image: url('../img/footer/foot-nav-web-sp.png');
    background-position: top left;
    background-repeat: no-repeat;
  }
}
