.footer {
  position: relative;
  background-color: #fff;
  &__nav {
  }
  &__adr {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-brand;
    padding: $gap-m 0;
    color: $white;
  }
  &__copyright {
    font-style: normal;
    font-size: 1.2rem;
    &-mark {
      position: relative;
      top: 3px;
      font-size: 2rem;
      line-height: 1;
    }
  }
}

.fnav {
  &__wrapper {
    @include wrapper;
    margin-bottom: $gap;
    list-style: none;
    @include tablet {
      margin-bottom: $gap-m;
    }
    @include desktop {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__item {
    padding: 0;
    @include desktop {
      display: flex;
      align-items: center;
      &::after {
        display: inline-block;
        background-color: $color-light-darken;
        width: 1px;
        height: 20px;
        margin: 0 $gap;
        content: ' ';
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
  &__link {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
    background-color: $color-light;
    height: 40px;
    text-decoration: none;
    color: $color-brand;
    font-size: 1.2rem;
    line-height: 1;
    @include desktop {
      background: none;
      height: auto;
      padding: $gap;
    }
    &:hover {
      background-color: $color-brand;
      color: $white;
    }
    &[target='_blank'] {
      &:after {
        @include material-icons;
        margin-left: $gap/2;
        content: 'open_in_new';
        font-size: 1.6rem;
      }
    }
    @each $class in faq, policy {
      &.#{$class} {
        body.#{$class} & {
          background-color: $color-brand;
          color: $white;
        }
      }
    }//each
  }
}
