.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  background: rgba(255,255,255,.85);
  box-shadow: 0 2px 4px rgba(0,0,0,.25);
  height: $gap-xl;
  @include tablet {
    position: fixed;
  }
  &__wrapper {
    @include wrapper;
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: auto;
    font-size: 1.6rem;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      text-decoration: none;
      color: $color-dark;
      font-size: 1.6rem;
    }
  }
  &__gnav {
    height: 100%;
  }
  &__menu {
    box-sizing: border-box;
    z-index: 12;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 48px;
    height: 48px;
    color: $color-dark;
    cursor: pointer;
    &:hover {
      color: $color-brand;
    }
    &__icon {
      position: relative;
      top: 0;
      font-size: 34px;
      line-height: 1;
    }
    &__text {
      position: relative;
      top: -7px;
      font-size: 10px;
      line-height: 1;
    }
  }
}
