html {
  background-color: $color-brand;
  font-size: 62.5%; //remベースサイズ設定 1.6rem = 16px
}

body {
  @include gothic;
  color: $color-dark;
  font-size: 1.4rem; // 1.4rem = 14px
  @include tablet {
    font-size: 1.6rem; // 1.6rem = 16px
  }
}

section {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .3em;
  color: $black;
  font-weight: normal;
  font-feature-settings: 'palt';
}

h1 {
  font-size: 3rem;
  @include desktop {
    font-size: 3.6rem;
  }
}

h2 {
  font-size: 2.6rem;
  @include desktop {
    font-size: 3rem;
  }
}

h3 {
  font-size: 2rem;
  @include desktop {
    font-size: 2.2rem;
  }
}

h4 {
  font-size: 1.8rem;
}

p {
  margin-bottom: .8em;
  line-height: 1.8;
}

a {
  color: $color-brand;
  -webkit-tap-highlight-color: transparent; //タップ時のハイライト削除
  font-weight: bold;
}

::selection {
  background-color: $color-point-lighten;
}

small {
  color: $color-dark-lighten;
  font-size: 1.1rem;
  font-feature-settings: 'palt';
}

blockquote {
  box-sizing: border-box;
  position: relative;
  border-left: 4px solid $color-light-darken;
  border-radius: 3px;
  background-color: $color-light;
  margin: 0;
  padding: $gap-m;
  &::before {
    position: absolute;
    top: -12px;
    left: -14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $color-light-darken;
    width: 24px;
    height: 24px;
    font-size: 1.4rem;
  }
  & > p:first-child {
    margin-top: 0;
  }
}

dl,
ol,
ul {
  margin: 0;
  line-height: 1.8;
}

dl {
  box-sizing: border-box;
  border-left: 4px solid $color-light-darken;
  padding: $gap 0 $gap $gap-m;
  & > dt {
    font-weight: bold;
  }
  & > dd {
    margin: 0;
  }
}

ol,
ul {
  padding: .5em 1.5em;
}

hr {
  border: 0;
  background-color: $color-light;
  height: 1px;
  margin: $gap-l 0;
}

kbd,
code,
samp,
pre {
  display: inline-block;
  border-radius: 2px;
  background-color: $color-light;
  margin: 0 $gap/2;
  padding: $gap/4 $gap;
  font-size: 1.4rem;
  font-feature-settings: normal;
  line-height: 1.4;
}
code,
pre {
  background-color: $color-dark;
  color: $color-light-darken;
}
pre {
  box-sizing: border-box;
  display: block;
  border-left: 4px solid $color-point;
  margin: 0;
  padding: $gap-m;
}

sup,
sub {
  font-size: 45%;
}

img {
  vertical-align: bottom;
}

figure {
  position: relative;
  display: inline-block;
  margin-bottom: .8em;
  padding: 0;
  figcaption {
    position: absolute;
    right: $gap;
    bottom: $gap;
    color: $color-light;
    font-weight: bold;
    font-size: 1.1rem;
  }
}

iframe {
  border: none;
}
