.u-assist {
  @include first-child-heading;
  box-sizing: border-box;
  background-color: $color-light;
  margin-bottom: $gap;
  padding: $gap-s;
  @include tablet {
    margin-bottom: $gap-s;
    padding: $gap-l;
  }
  &__inner {
    @include first-child-heading;
    box-sizing: border-box;
    background-color: white;
    padding: $gap-m;
    h1,
    h2,
    h3,
    h4,
    h5 {
      border-bottom: 1px solid $color-light !important;
    }
  }
  &.is-info {
    border-left: 2px solid $color-info;
    background-color: $color-info-lighten;
    h1,
    h2,
    h3,
    h4,
    h5 {
      border-bottom: 1px solid $color-info;
    }
  }
  &.is-warning {
    border-left: 2px solid $color-warning;
    background-color: $color-warning-lighten;
    h1,
    h2,
    h3,
    h4,
    h5 {
      border-bottom: 1px solid $color-warning;
    }
  }
  &.is-point {
    background-color: $color-point-lighten;
    h1,
    h2,
    h3,
    h4,
    h5 {
      border-bottom: 1px solid $color-point;
    }
  }
  &.is-outline {
    border: 1px solid $color-light;
    background: none;
    h1,
    h2,
    h3,
    h4,
    h5 {
      border-bottom: 1px solid $color-light;
    }
  }
  & + small {
    @include tablet {
      margin-top: -$gap-s;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    border-bottom: 1px solid $color-light-darken;
    padding-bottom: .3em;
  }
}
