.u-button {
  $class: '.u-button';
  $min-height: 48px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-brand;
  background-color: $color-brand;
  padding: calc((#{$min-height} - 1.2em) / 2) $gap;
  padding-left: $gap-m;
  text-decoration: none;
  color: white;
  line-height: 1;
  transition: all .3s;
  &:before {
    @include material-icons;
    position: absolute;
    left: 0;
    content: 'arrow_right';
  }
  &.is-active,
  &:hover {
    background-color: white;
    color: $color-brand;
    cursor: pointer;
  }
  &.is-down {
    &:before {
      content: 'arrow_drop_down';
    }
  }
  &.is-up {
    &:before {
      content: 'arrow_drop_up';
    }
  }
  &.is-pdf {
    padding-left: 30px;
    &:before {
      left: $gap;
      content: 'picture_as_pdf';
    }
  }
  &.is-point {
    border-color: $color-point;
    background-color: $color-point;
    &:hover {
      background-color: white;
      color: $color-point;
    }
  }
}

.u-buttons {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: $gap;
  @include tablet {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: $gap-s;
  }
  @include desktop {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-column-gap: $gap-m;
  }
  &_2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: $gap;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, auto);
      grid-column-gap: $gap-s;
    }
    @include desktop {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, auto);
      grid-column-gap: $gap-m;
    }
  }
  &_3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-row-gap: $gap;
    @include tablet {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-row-gap: $gap-s;
    }
    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, auto);
      grid-column-gap: $gap-m;
    }
  }
  &_4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-row-gap: $gap;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-column-gap: $gap-s;
      grid-row-gap: $gap-s;
    }
    @include desktop {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-column-gap: $gap-m;
      grid-row-gap: $gap-m;
    }
  }
}
