.u-tag {
  position: relative;
  top: -1px;
  display: inline-block;
  border-radius: 4px;
  background-color: $color-brand;
  margin-right: $gap;
  padding: $gap/2;
  color: white;
  font-size: 80%;
  line-height: 1;
}
