.gnav-slide {
  @include desktop {
    display: none;
  }
  &__menu {
    box-sizing: border-box;
    position: fixed;
    top: $gap;
    right: $gap;
    z-index: 12;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 2px solid $color-brand;
    border-radius: 50%;
    background-color: $color-brand;
    width: 48px;
    height: 48px;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: $color-brand;
    }
    &__icon {
      position: relative;
      top: 0;
      font-size: 34px;
      line-height: 1;
    }
    &__text {
      position: relative;
      top: -7px;
      font-size: 10px;
      line-height: 1;
    }
  }
  &__background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,.5);
  }
  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    overflow: scroll;
    background-color: white;
    width: 280px;
    height: 100vh;
    margin: 0;
    padding: $gap;
    list-style: none;
  }
  &__item {
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid $color-light-darken;
    background-color: $color-light;
    height: 48px;
    margin-top: -1px;
    &:first-child {
      border-radius: $gap $gap 0 0;
    }
    &:last-child {
      border-radius: 0 0 $gap $gap;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 $gap;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1;
    transition: all .3s;
    &:hover {
      background-color: $color-brand;
      color: white;
    }
    @each $class in home, column, contact {
      &.#{$class} {
        body.#{$class} & {
          background-color: $color-brand;
          color: #fff;
        }
      }
    }//each
  }
}

.gnav-slide-bagckground-enter-active,
.gnav-slide-bagckground-leave-active {
  transition: opacity .2s ease;
}

.gnav-slide-bagckground-enter,
.gnav-slide-bagckground-leave-to {
  opacity: 0;
  transition: all 150ms ease-in 0s;
}

.gnav-slide-wrapper-enter-active,
.gnav-slide-wrapper-leave-active {
  transition: transform .2s ease;
}

.gnav-slide-wrapper-enter,
.gnav-slide-wrapper-leave-to {
  transition: all 150ms ease-in 0s;
  transform: translateX(-100%);
}
