.gnav-slide {
  &__menu {
    background-color: blue;
  }
  &__background {
    position: fixed;
    z-index: 10;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__wrapper {
    position: fixed;
    z-index: 11;
    background-color: white;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    overflow: scroll;
  }
}

.gnav-slide-bagckground-enter-active,
.gnav-slide-bagckground-leave-active
{
  transition: opacity 0.2s ease;
}

.gnav-slide-bagckground-enter,
.gnav-slide-bagckground-leave-to {
  opacity: 0;
  transition: all 150ms ease-in 0s;
}

.gnav-slide-wrapper-enter-active,
.gnav-slide-wrapper-leave-active
{
  transition: transform 0.2s ease;
}

.gnav-slide-wrapper-enter,
.gnav-slide-wrapper-leave-to {
  transform: translateX(-100%);
  transition: all 150ms ease-in 0s;
}