html {
  font-size: 62.5%; //remベースサイズ設定 1.6rem = 16px
  background-color: $color-brand;
}

body {
  @include gothic;
  font-size: 1.4rem; // 1.4rem = 14px
  color: $color-dark;
  @include tablet {
    font-size: 1.6rem; // 1.6rem = 16px
  }
}

section {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.3em;
  font-weight: normal;
  line-height: 1.4;
  color: $black;
  font-feature-settings: 'palt';
  @include tablet {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }
}

h1 {
  font-size: 3rem;
  @include desktop {
    font-size: 3.6rem;
  }
}

h2 {
  font-size: 2.6rem;
  @include desktop {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 2rem;
  @include desktop {
    font-size: 2.4rem;
  }
}

h4 {
  font-size: 1.8rem;
}

p {
  margin-bottom: 0.8em;
  line-height: 1.8;
}

a {
  font-weight: bold;
  color: $color-brand;
  -webkit-tap-highlight-color: transparent; //タップ時のハイライト削除
}

b,
strong {
  color: $color-dark-darken;
}

::selection {
  background-color: $color-point-lighten;
}

small {
  @include font-small;
  position: relative;
  display: block;
  margin-bottom: 0.5em;

  &::before {
    position: absolute;
    left: -1em;
    content: '※';
  }
}

blockquote {
  position: relative;
  box-sizing: border-box;
  padding: $gap-m;
  margin: 0;
  background-color: $color-light;
  border-left: 4px solid $color-light-darken;
  border-radius: 3px;

  &::before {
    position: absolute;
    top: -12px;
    left: -14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 1.4rem;
    background-color: $color-light-darken;
    border-radius: 50%;
  }

  & > p:first-child {
    margin-top: 0;
  }
}

dl,
ol,
ul {
  margin: 0;
  line-height: 1.8;
}

dl {
  box-sizing: border-box;
  padding: $gap 0 $gap $gap-m;
  border-left: 4px solid $color-light-darken;

  & > dt {
    font-weight: bold;
  }

  & > dd {
    margin: 0;
  }
}

ol,
ul {
  padding: 0.5em 1.5em;
}

hr {
  height: 1px;
  margin: $gap-l 0;
  background-color: $color-light;
  border: 0;
}

kbd,
code,
samp,
pre {
  display: inline-block;
  padding: $gap/4 $gap;
  margin: 0 $gap/2;
  font-size: 1.4rem;
  line-height: 1.4;
  background-color: $color-light;
  border-radius: 2px;
  font-feature-settings: normal;
}

code,
pre {
  color: $color-light-darken;
  background-color: $color-dark;
}

pre {
  box-sizing: border-box;
  display: block;
  padding: $gap-m;
  margin: 0;
  border-left: 4px solid $color-point;
}

sup,
sub {
  font-size: 45%;
}

img {
  vertical-align: bottom;
}

figure {
  position: relative;
  display: inline-block;
  padding: 0;
  margin-bottom: 0.8em;

  figcaption {
    position: absolute;
    right: $gap;
    bottom: $gap;
    font-size: 1.1rem;
    font-weight: bold;
    color: $color-light;
  }
}

iframe {
  border: none;
}

address {
  font-style: normal;
}
